<!DOCTYPE html>
<html>
  <head>
    <title>Socket Connect</title>
  </head>

  <body>
    <h1>Bonjour Socket!</h1>

    <script src="/js/dependencies/sails.io.js"></script>
	<script>
		io.socket.on("connect", function onServerSentEvent (msg) {
			console.log("Connection!");
			io.socket.get('/camera/index');
		});
		io.socket.on('message', function (data){
			console.log(data.greeting);
		});
	</script>
  </body>
</html>
